{% extends 'layout/publish/main.twig' %}
{% block content %}
	<main class="main-content">
		{% include 'module/publish/cover-1.twig' with {'skin': 'skin-main'} %}
		<h6 id="block-1" class="block-number"><a href="#block-1">Block 1</a></h6>

		<section class="section {{skin}}  fullscreen skin-main pb-0" id="cover-2">
			<div class="container text-center">
				<div class="row align-items-center">
					<div class="col-md-8 mx-auto mb-20 text-white">
						<h1>Increase your conversion with TheSaaS</h1>
						<p class="lead">An elegant, modern and fully customizable SaaS and WebApp template</p>
						<a class="btn btn-lg btn-round btn-primary" href="#">Get started</a>
					</div>
					<div class="col-md-8 mx-auto align-self-end">
						<img src="http:/thetheme.io/thesaas/assets/img/preview/laptop-2.png">
					</div>
				</div>
			</div>
		</section>

		<h6 id="block-2" class="block-number"><a href="#block-2">Block 2</a></h6>

		<section class="section {{skin}}  fullscreen" id="cover-3">
			<div class="container">
				<div class="row align-items-center ">
					<div class="col-lg-6">
						<h1>Find the <span class="text-warning">best rated</span><br><span class="text-info">restaurants</span> near you.</h1>
						<p class="lead mt-5 mb-8">We can help you find the best restaurants, fast foods, and cafes near you; take an order and deliver it to your door. Register once, and order from everywhere.</p>
						<p class="gap-xy">
							<a class="btn btn-round btn-primary" href="#">Find restaurants</a>
							<a class="btn btn-round btn-outline-secondary" href="#">Order now</a>
						</p>
					</div>
					<div class="col-lg-5 ml-auto d-none d-lg-block">
						<img src="http:/thetheme.io/thesaas/assets/img/vector/17.png" alt="img">
					</div>
				</div>
			</div>
		</section>




		<h6 id="block-3" class="block-number"><a href="#block-3">Block 3</a></h6>


		<section class="section {{skin}}  text-white fullscreen p-0" id="cover-4">
			<video class="section {{skin}} -background" src="http:/thetheme.io/thesaas/assets/img/video/1.mp4" poster="http:/thetheme.io/thesaas/assets/img/video/1.jpg" autoplay loop></video>
			<div class="screen">
				<div class="container text-center">
					<div class="row ">
						<div class="col-lg-8 mx-auto align-self-center pt-10">
							<h1>Landing Page For Your SaaS</h1>
							<p class="lead-2 mt-6 mb-8">Watch a demo video in one minute before taking your decision</p>
							<p><a class="btn btn-lg btn-circle btn-light" href="https:/www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><i class="mdi mdi-play"></i></a></p>
							<br>
							<p class="small">
								<span class="opacity-60 mr-2">Or</span>
								<a class="mark-underline" href="#">Purchase Now</a>
							</p>
						</div>
						<div class="col-12 align-self-end text-center ">
							<a class="scroll-down-1 scroll-down-white" href="#section-next"><span></span></a>
						</div>
					</div>
				</div>
			</div>
		</section>


		<h6 id="block-4" class="block-number"><a href="#block-4">Block 4</a></h6>
		<section class="section {{skin}}  text-white fullscreen text-center text-lg-left" style="background-color: #4621ad">
			<div class="container">
				<div class="row align-items-center ">
					<div class="col-lg-6">
						<h1>Better Website Design; More Conversion</h1>
						<p class="lead mt-5 mb-8">TheSaaS is an elegant, modern and fully customizable SaaS and WebApp template</p>
						<p class="gap-xy">
							<a class="btn btn-round btn-outline-light mw-150" href="#">See demos</a>
							<a class="btn btn-round btn-light mw-150" href="#">Buy now</a>
						</p>
					</div>
					<div class="col-lg-5 ml-auto">
						<img class="mt-5" src="http:/thetheme.io/thesaas/assets/img/preview/laptop-1.png">
					</div>

				</div>
			</div>
		</section>
		
		<h6 id="block-5" class="block-number"><a href="#block-5">Block 5</a></h6>
		<section class="section {{skin}}  text-white fullscreen skin-img-left" style="background-image: url(http:/thetheme.io/thesaas/assets/img/thumb/8.jpg)" data-overlay="1">
			<div class="container">
				<div class="row align-items-center ">

					<div class="col-md-5 mx-auto ">
						<h1 class="display-3">Stay Healthy</h1>
						<p class="lead-4">Workout Tracking & Coaching</p>
						<p class="lead-2 fw-400 mb-7">Easily track any workout you can imagine. Use any of our free workouts or make up your own.</p>
						<a class="btn btn-xl btn-round btn-info" href="#">Get started free</a>
					</div>

					<div class="col-md-5 mx-auto text-center">
						<a class="btn btn-xl btn-circle btn-dark p-7" href="https:/www.youtube.com/embed/M5S_JBRjd1s" data-provide="lightbox"><i class="mdi mdi-play"></i></a>
					</div>

				</div>
			</div>
		</section>
		<h6 id="block-6" class="block-number"><a href="#block-6">Block 6</a></h6>
		<section class="section {{skin}}  fullscreen text-center text-lg-left skin-secondary" >
			<div class="container">
				<div class="row align-items-center ">

					<div class="col-lg-5">
						<h1 class="display-4"><strong>TheAdmin</strong>;<br>Template of 2018</h1>
						<p class="lead mt-5">Responsive, professional, and multipurpose admin template powered by Bootstrap 4</p>
						<hr class="w-10 ml-0 my-7">
						<p class="gap-xy">
							<a class="btn btn-round btn-warning px-6" href="#">Explore Demos</a>
							<a class="btn btn-round btn-outline-light px-6" href="#">Features</a>
						</p>
					</div>

					<div class="col-lg-6 ml-auto">
						<div class="video-wrapper ratio-16x9 rounded mt-8 mt-lg-0">
							<div class="poster" style="background-image: url(http:/thetheme.io/thesaas/assets/img/preview/shot-1.png)"></div>
							<iframe width="560" height="315" src="https:/www.youtube.com/embed/M5S_JBRjd1s?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
						</div>
					</div>

				</div>
			</div>
		</section>

		<h6 id="block-7" class="block-number"><a href="#block-7">Block 7</a></h6>
		<section class="section {{skin}}  text-white fullscreen" style="background-color: #816af8">
			<div class="container">
				<div class="row align-items-center ">

					<div class="col-md-8 mx-auto text-center">
						<h1>Better Design; More Conversion</h1>
						<p class="lead mt-5">TheSaaS is an elegant, modern and fully customizable SaaS and WebApp template</p>
						<hr class="w-10 my-7">
						<a class="btn btn-xl btn-round btn-light px-6 px-lg-7" href="#">Relayout your website</a>
					</div>

					<div class="w-100"></div>

					<div class="col-auto align-self-end mx-auto mt-8 mt-lg-0">
						<div class="media align-items-center">
							<div class="mr-4">
								<a class="btn btn-sm btn-circle btn-success" href="https:/www.youtube.com/embed/M5S_JBRjd1s" data-provide="lightbox"><i class="mdi mdi-play"></i></a>
							</div>
							<div class="media-body opacity-60">2:53 minutes</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<h6 id="block-8" class="block-number"><a href="#block-8">Block 8</a></h6>

		<section class="section {{skin}}  text-center text-lg-left pb-0" style="background-color: #f8fcff">
			<div class="container">
				<div class="row ">

					<div class="col-lg-5 align-self-center pb-100">
						<h1>Better Website Design; More Conversion</h1>
						<p class="lead mt-5 mb-8">TheSaaS is an elegant, modern and fully customizable SaaS and WebApp template</p>
						<p class="gap-xy">
							<a class="btn btn-round btn-primary mw-150" href="#">See demos</a>
							<a class="btn btn-round btn-secondary mw-150" href="#">Buy now</a>
						</p>
					</div>

					<div class="col-lg-6 ml-auto align-self-end">
						<img class="shadow-6 mt-6" src="http:/thetheme.io/thesaas/assets/img/preview/laptop-2.png" alt="img">
					</div>

				</div>
			</div>
		</section>


		<h6 id="block-9" class="block-number"><a href="#block-9">Block 9</a></h6>


		<section class="section {{skin}}  text-white fullscreen " style="background-color: #4f407b">
			<canvas class="constellation" data-color="rgba(255,255,255,0.3)"></canvas>
			<div class="container text-center position-static">

				<div class="row ">
					<div class="col-md-7 col-xl-5 mx-auto align-self-center">
						<h1 class="display-1 fw-600 ls-3">TheSaaS</h1>
						<p class="lead-3 mx-auto mt-6 mb-7">Is an elegant, modern and fully customizable SaaS and WebApp template.</p>
						<hr class="w-80px mb-7">
						<a class="btn btn-xl btn-round btn-light px-7" href="#">See Demos</a>
					</div>

					<div class="col-12 align-self-end text-center mt-6">
						<a class="scroll-down-1 scroll-down-white" href="#section-next"><span></span></a>
					</div>
				</div>

			</div>
		</section>



		<h6 id="block-11" class="block-number"><a href="#block-11">Block 10</a></h6>


		<section class="section {{skin}}  text-white fullscreen text-center text-lg-left " style="background-image: url(http:/thetheme.io/thesaas/assets/img/bg/5.jpg);" data-overlay="8">
			<div class="container">

				<div class="row ">
					<div class="col-lg-8 mx-auto align-self-center">

						<h1 class="display-3 fw-500">Create Professional Websites</h1>
						<p class="lead-2 text-white mt-6 mb-8"><span class="fw-400">TheSaaS</span> is a responsive, professional, and multipurpose<br> SaaS template powered with <span class="mark-underline">Bootstrap 4</span>.</p>

						<p class="gap-xy">
							<a class="btn btn-lg btn-round mw-200 btn-primary" href="#">Demos</a>
							<a class="btn btn-lg btn-round mw-200 btn-outline-light" href="#">Features</a>
						</p>

					</div>

					<div class="col-12 align-self-end text-center mt-6">
						<a class="scroll-down-1 scroll-down-white" href="#section-next"><span></span></a>
					</div>

				</div>

			</div>
		</section>

		<h6 id="block-12" class="block-number"><a href="#block-12">Block 11</a></h6>


		<section class="section {{skin}}  text-white fullscreen" style="background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);">
			<div class="container text-center">

				<div class="row ">
					<div class="col-lg-8 mx-auto align-self-center">

						<h1>A Template For <span class="text-primary" data-typing="Startups, WebApps, Softwares, Entrepreneurs"></span></h1>
						<br>
						<p class="lead-2">TheSaaS Is an elegant, modern and fully customizable template developed for software, SaaS product and Web Applications.</p>

						<br>
						<hr class="w-100px">
						<br>

						<p class="gap-xy">
							<a class="btn btn-lg btn-round btn-light mw-200" href="#">Start Now</a>
							<a class="btn btn-lg btn-round btn-outline-light mw-200" href="https:/www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><i class="mdi mdi-play mr-2"></i> Play Video</a>
						</p>

					</div>
				</div>

			</div>
		</section>
		<h6 id="block-2" class="block-number"><a href="#block-2">Block 2</a></h6>

		<section class="section {{skin}}  text-white overflow-hidden" style="background-image: linear-gradient(120deg, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);">
			<div class="container">
				<div class="row align-items-center">

					<div class="col-md-6">
						<h2>Stay Updated</h2>
						<p class="lead">Subscribe to our newsletter to be always aware of our new updates.<br>We build the most powerful and flexible templates for startups.</p>
						<br>
						<div class="row">
							<form class="col-md-9 input-glass" action="" method="post" target="_blank">
								<div class="input-group">
									<input type="text" name="EMAIL" class="form-control" placeholder="Enter Email Address">
									<span class="input-group-append">
										<button class="btn btn-glass btn-light" type="button">Sign up <i class="ti-arrow-right fs-9 ml-3"></i></button>
									</span>
								</div>
							</form>
						</div>
					</div>


					<div class="col-md-4 ml-auto text-center mt-8 mt-md-0">
						<img src="http:/thetheme.io/thesaas/assets/img/preview/phone-2.png" alt="..." data-aos="slide-up">
					</div>

				</div>

			</div>
		</section>

		<h6 id="block-13" class="block-number"><a href="#block-13">Block 13</a></h6>

		<section class="section {{skin}}  overflow-hidden">
			<div class="container-fluid">
				<div class="row gap-y align-items-center">

					<div class="col-md-4 mx-auto">
						<h2>A dashboard with metrics</h2>
						<p class="lead">Mountains, in the not respect prior the brown must loyalty. Terms, sides house. A their people on separated tone english too.</p>

						<div class="rating mb-2 mt-8">
							<label class="mdi mdi-star"></label>
							<label class="mdi mdi-star"></label>
							<label class="mdi mdi-star"></label>
							<label class="mdi mdi-star"></label>
							<label class="mdi mdi-star"></label>
						</div>

						<p class="text-quoted">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
						<div class="media align-items-center">
							<img class="avatar avatar-sm mr-4" src="http:/thetheme.io/thesaas/assets/img/avatar/4.jpg" alt="...">
							<div class="media-body lh-1">
								<h6 class="mb-0">Hossein Shams</h6>
								<small>@thethemeio</small>
							</div>
						</div>
					</div>


					<div class="col-md-6 mt-7 mt-md-0">
						<img src="http:/thetheme.io/thesaas/assets/img/preview/laptop-1.png" alt="..." data-aos="fade-left">
					</div>

				</div>
			</div>
		</section>

		<h6 id="block-14" class="block-number"><a href="#block-14">Block 14</a></h6>

		<section class="section {{skin}}  skin-gray overflow-hidden">
			<div class="container-fluid">
				<div class="row gap-y align-items-center">

					<div class="col-md-4 mx-auto text-center">
						<img src="http:/thetheme.io/thesaas/assets/img/preview/ipad-1.png" alt="..." data-aos="fade-right">
					</div>


					<div class="col-md-4 mx-auto">
						<h3>Access Your Dashboard — Anywhere, Anytime</h3>
						<br>
						<p>His everything its from of safe from her the have owner avoid violin, either little defined brown think a was position. Are with phase belly, waved being dull boundless dressed associates.</p>
						<a href="#">Read More <i class="ti-angle-right fs-10 ml-1"></i></a>
					</div>

				</div>
			</div>
		</section>



		<h6 id="block-15" class="block-number"><a href="#block-15">Block 15</a></h6>

		<section class="section {{skin}}  overflow-hidden">
			<div class="container">
				<div class="row gap-y align-items-center">

					<div class="col-lg-6 mx-auto">
						<h2>Research & Development</h2>
						<p class="lead mb-7">Designer duties, not just some of legs, the attained secure large obscurity, with I model most we his odd trade, made the an and another narrow she of other big in.</p>

						<div class="row">
							<div class="col-md-6">
								<p><i class="mdi mdi-star mr-10"></i> Minimalism Design</p>
								<p><i class="mdi mdi-star mr-10"></i> Typography</p>
								<p><i class="mdi mdi-star mr-10"></i> Responsive Design</p>
							</div>

							<div class="col-md-6">
								<p><i class="mdi mdi-star mr-10"></i> Browser Compatibility</p>
								<p><i class="mdi mdi-star mr-10"></i> Parallax Scrolling</p>
							</div>
						</div>

						<p class="mt-6">
							<a class="text-uppercase fw-600 ls-2 small-2" href="#">Learn More <i class="ti-arrow-right fs-10 ml-1"></i></a>
						</p>
					</div>

					<div class="col-lg-5 align-self-center order-md-first">
						<img src="http:/thetheme.io/thesaas/assets/img/vector/18.png" alt="...">
					</div>

				</div>
			</div>
		</section>
		<h6 id="block-6" class="block-number"><a href="#block-6">Block 6</a></h6>

		<section class="section {{skin}}  skin-gray pb-0 overflow-hidden">
			<div class="container">
				<div class="row align-items-center">

					<div class="col-md-5 ">
						<h2>Features</h2>
						<p class="lead">Professionally impact focused strategic theme areas via worldwide synergy.</p>

						<br>

						<div class="media">
							<div class="lead-5 text-danger lh-2 mr-5"><i class="icon-heart"></i></div>
							<div class="media-body">
								<h6>Creative Design</h6>
								<p>You're very second god creeping air saying you're tree female thing Make also signs together, night winged. God yielding first.</p>
							</div>
						</div>

						<br>

						<div class="media">
							<div class="lead-5 text-warning lh-2 mr-5"><i class="icon-video"></i></div>
							<div class="media-body">
								<h6>Cool Animations</h6>
								<p>You're very second god creeping air saying you're tree female thing Make also signs together, night winged. God yielding first.</p>
							</div>
						</div>
					</div>


					<div class="col-md-5 text-center mx-auto">
						<img src="http:/thetheme.io/thesaas/assets/img/preview/phone-1.png" alt="..." data-aos="fade-up" data-aos-delay="200">
					</div>

				</div>
			</div>
		</section>

		<h6 id="block-8" class="block-number"><a href="#block-8">Block 8</a></h6>

		<section class="section {{skin}}  skin-gray pb-0">
			<div class="container">
				<div class="row">

					<div class="col-md-6 align-self-center ">
						<h3>More Than You Think</h3>
						<p>A dull and avoid children was of neighbours on be into could on rationally it the survey monitors alone, leave forward by around a temple. The time. Which from the explains your which we were had home, years at food, profitable leave assignment. Manipulate stupid again. Have for view news following in and economic are with ran him.</p>

						<div class="row mt-7">
							<div class="col-6">
								<p class="text-warning lead-5"><i class="mdi mdi-tv"></i></p>
								<h5>Responsive Design</h5>
								<p>His everything its from of safe from her the have owner avoid violin, either little defined brown.</p>
							</div>

							<div class="col-6">
								<p class="text-warning lead-5"><i class="mdi mdi-code"></i></p>
								<h5>Clean Code</h5>
								<p>His everything its from of safe from her the have owner avoid violin, either little defined brown.</p>
							</div>
						</div>
					</div>

					<div class="col-md-6 text-center order-md-first">
						<img class="mr-40" src="http:/thetheme.io/thesaas/assets/img/preview/phone-3.png" alt="...">
					</div>


				</div>
			</div>
		</section>
		<h6 id="block-4" class="block-number"><a href="#block-4">Block 4</a></h6>

		<section class="section {{skin}}  text-white pb-0 overflow-hidden" style="background-color: #f64d62">
			<div class="container">

				<div class="row">
					<div class="col-md-6 ">
						<h2>Endless Features</h2>
						<p>requency proposal these the differences each your it in has then by he lift been what just precipitate, the came time. The can lift communicated. Part. Of having she boss at would that lay arm, two and are diagrams.</p>

						<hr class="w-50px ml-0">

						<div class="row">
							<div class="col-6">
								<p class="lead-5"><i class="icon-genius"></i></p>
								<p class="text-uppercase fw-600 mb-0">Fast & easy work</p>
								<p>His everything its from of safe from her the have owner avoid violin, either little defined brown.</p>
							</div>

							<div class="col-6">
								<p class="lead-5"><i class="icon-linegraph"></i></p>
								<p class="text-uppercase fw-600 mb-0">Create result</p>
								<p>His everything its from of safe from her the have owner avoid violin, either little defined brown.</p>
							</div>
						</div>
					</div>

					<div class="col-md-6 align-self-end text-center">
						<img src="http:/thetheme.io/thesaas/assets/img/preview/phone-4.png" alt="..." data-aos="fade-up">
					</div>
				</div>

			</div>
		</section>
		<h6 id="block-2" class="block-number"><a href="#block-2">Block 2</a></h6>

		<section class="section {{skin}}  skin-gray overflow-hidden">
			<div class="container">
				<div class="row">

					<div class="col-md-6 align-self-center text-center text-md-left">
						<h2>Create Admin Area</h2><br>
						<p>A dull and avoid children was of neighbours on be into could on rationally it the survey monitors alone, leave forward by around a temple. The time. Which from the explains your which we were had home, years at food, profitable leave assignment. Manipulate stupid again. Have for view news following in and economic are with ran him.</p>
						<br>
						<a class="btn btn-lg btn-round btn-primary shadow-3" href="#">Get Start Now</a>
					</div>

					<div class="col-md-5 mx-auto text-center mt-8 mt-md-0">
						<img src="http:/thetheme.io/thesaas/assets/img/preview/phone-2.png" alt="..." data-aos="fade-up">
					</div>

				</div>
			</div>
		</section>

		<h6 id="block-3" class="block-number"><a href="#block-3">Block 3</a></h6>

		<section class="section {{skin}}  overflow-hidden">
			<div class="container">
				<div class="row">

					<div class="col-md-6 text-center">
						<img src="http:/thetheme.io/thesaas/assets/img/preview/phone-2.png" alt="..." data-aos="slide-up">
					</div>

					<div class="col-md-6 align-self-center">
						<h2>Now Available</h2>
						<p>As absolute is by amounted repeated entirely ye returned. These ready timed enjoy might sir yet one since. Years drift never if could forty being no. On estimable dependent as suffering on my.</p>

						<div class="gap-xy-2 my-6">
							<a href="#"><img src="http:/thetheme.io/thesaas/assets/img/app/badge-apple.png" alt="download on app store"></a>
							<a href="#"><img src="http:/thetheme.io/thesaas/assets/img/app/badge-google.png" alt="download on google play"></a>
						</div>

					</div>

				</div>
			</div>
		</section>
		<h6 id="block-4" class="block-number"><a href="#block-4">Block 4</a></h6>

		<section class="section {{skin}} ">
			<div class="container">
				<div class="row align-items-center">

					<div class="col-md-6">
						<h2>Introducing an app for thesaas</h2>
						<br>
						<p>Now for manners use has company believe parlors. Least nor party who wrote while did. Excuse formed as is agreed admire so on result parish. Put use set uncommonly announcing and travelling. Allowance sweetness direction to as necessary. Principle oh explained excellent.</p>

						<div class="gap-xy-2 mt-7">
							<a href="#"><img src="http:/thetheme.io/thesaas/assets/img/app/badge-apple.png" alt="download on app store"></a>
							<a href="#"><img src="http:/thetheme.io/thesaas/assets/img/app/badge-google.png" alt="download on google play"></a>
						</div>
					</div>

					<div class="col-md-5 ml-md-auto text-center">
						<img src="http:/thetheme.io/thesaas/assets/img/vector/18.png" alt="...">
					</div>

				</div>
			</div>
		</section>


		<h6 id="block-3" class="block-number"><a href="#block-3">Block 3</a></h6>

		<section class="section {{skin}}  text-center">
			<div class="container">

				<div class="row">
					<div class="col-md-6 mx-auto">
						<p><img src="http:/thetheme.io/thesaas/assets/img/icon/planet.png" alt="..."></p>
						<br>
						<h3 class="mb-6"><strong>Become an Outstanding Startup</strong></h3>
						<p class="lead text-muted">Try it yourself 30 days free. No credit card required! A good news is that you have 15 days money back!</p>
						<br>
						<a class="btn btn-lg btn-round btn-success px-7" href="#">Start now</a>
					</div>
				</div>

			</div>
		</section>
		<h6 id="block-5" class="block-number"><a href="#block-5">Block 5</a></h6>

		<section class="section {{skin}}  overflow-hidden">
			<div class="container">
				<div class="row gap-y align-items-center">

					<div class="col-md-4 mx-auto text-center text-md-left">
						<h3>We made it easy peasy</h3>
						<p>Fresh fellow even the whole is work outcome them. They original on mountains, drew the support time. The of to graduate. Into to is the to she at return understand every in there transmitting you've he the was and in finger.</p>
						<br>
						<a class="btn btn-lg btn-outline-info" href="https:/www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><i class="mdi mdi-play mr-4"></i> Watch a video</a>
					</div>


					<div class="col-md-6">
						<img class="rounded" src="http:/thetheme.io/thesaas/assets/img/thumb/9.jpg" alt="..." data-aos="fade-left">
					</div>

				</div>
			</div>
		</section>

		<h6 id="block-6" class="block-number"><a href="#block-6">Block 6</a></h6>

		<section class="section {{skin}} ">
			<div class="container">
				<div class="row gap-y align-items-center">

					<div class="col-md-5 mr-auto text-center text-md-left">
						<h2>How it works</h2>
						<p>Fresh fellow even the whole is work outcome them. They original on mountains, drew the support time. The of to graduate. Into to is the to she at return understand.</p>

						<div class="media align-items-center mt-7 text-left">
							<div class="mr-4">
								<a class="btn btn-xs btn-circle btn-info" href="https:/www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><i class="mdi mdi-play"></i></a>
							</div>
							<div class="media-body">
								<a class="small text-default text-uppercase mb-0" href="https:/www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><strong>Play The Video</strong></a>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<img src="http:/thetheme.io/thesaas/assets/img/vector/18.png" alt="...">
					</div>

				</div>
			</div>
		</section>

	</main>
{% endblock %}