{% extends 'layout/publish/main.twig' %}
{% block content %}
	<main class="main-content">
		{% include 'module/publish/pricing-1.twig' with {'skin': 'skin-main'} %}
		<h6 id="block-1" class="block-number"><a href="#block-1">Block 1</a></h6>

		<section class="section {{skin}} ">
			<div class="container">
				<section class="box">
					<small>Pricing</small>
					<h2>Choose your perfect plan</h2>
					<hr>
					<p class="lead">Won't said night above you're she'd behold moveth said one fowl. Beast forth. Man creepeth. She'd above bring blessed.</p>
				</section>


				<div class="text-center my-7">
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-round btn-outline-secondary w-150 active">
							<input type="radio" name="pricing-1" value="monthly" autocomplete="off" checked> Monthly
						</label>
						<label class="btn btn-round btn-outline-secondary w-150">
							<input type="radio" name="pricing-1" value="yearly" autocomplete="off"> Yearly
						</label>
					</div>
				</div>


				<div class="row gap-y text-center">

					<div class="col-md-4">
						<div class="pricing-1">
							<p class="plan-name">Single</p>
							<br>
							<h2 class="price">free</h2>
							<p class="small">&nbsp;</p>

							<div class="text-muted">
								<small>30 days free trial</small><br>
								<small>Basic support</small><br>
								<small>1 GB attachment</small><br>
							</div>

							<br>
							<p class="text-center py-3">
								<a class="btn btn-primary" href="#">Get started</a>
							</p>
						</div>
					</div>


					<div class="col-md-4">
						<div class="pricing-1 popular">
							<p class="plan-name">Studio</p>
							<br>
							<h2 class="price text-success">
								<span class="price-unit">$</span>
								<span data-bind-radio="pricing-1" data-monthly="39" data-yearly="450">39</span>
							</h2>
							<p class="small text-lighter">
								Billed
								<span data-bind-radio="pricing-1" data-monthly="monthly" data-yearly="yearly">monthly</span>
							</p>

							<div class="text-muted">
								<small>30 days free trial</small><br>
								<small>Ticket support</small><br>
								<small>100 GB attachment</small><br>
							</div>

							<br>
							<p class="text-center py-3">
								<a class="btn btn-success" href="#" data-bind-href="pricing-1" data-monthly="#monthly" data-yearly="#yearly">Get started</a>
							</p>
						</div>
					</div>


					<div class="col-md-4">
						<div class="pricing-1">
							<p class="plan-name">Business</p>
							<br>
							<h2 class="price">
								<span class="price-unit">$</span>
								<span data-bind-radio="pricing-1" data-monthly="69" data-yearly="750">69</span>
							</h2>
							<p class="small text-lighter">
								Billed
								<span data-bind-radio="pricing-1" data-monthly="monthly" data-yearly="yearly">monthly</span>
							</p>

							<div class="text-muted">
								<small>30 days free trial</small><br>
								<small>Call support</small><br>
								<small>Unlimited attachments</small><br>
							</div>

							<br>
							<p class="text-center py-3">
								<a class="btn btn-primary" href="#" data-bind-href="pricing-1" data-monthly="#monthly" data-yearly="#yearly">Get started</a>
							</p>
						</div>
					</div>

				</div>


			</div>
		</section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Block 2
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

      <h6 id="block-2" class="block-number"><a href="#block-2">Block 2</a></h6>

      <section class="section {{skin}} " style="background-color: #7a54d8">
      	<div class="container">
      		<h2 class="text-center">Choose your pricing plan</h2>
      		<br><br><br>

      		<div class="row gap-y">

      			<div class="col-lg-4">
      				<div class="pricing-2">
      					<h2 class="price"><span class="price-unit">$</span> 29</h2>
      					<h6 class="plan-name">Single template</h6>
      					<p class="plan-description">Single template, lifetime license</p>
      					<br>
      					<a class="btn btn-round btn-outline-light w-200" href="#">Select an album</a>
      				</div>
      			</div>


      			<div class="col-lg-4">
      				<div class="pricing-2">
      					<h2 class="price"><span class="price-unit">$</span> 99</h2>
      					<h6 class="plan-name">One year membership</h6>
      					<p class="plan-description">Get access to all templates</p>
      					<br>
      					<a class="btn btn-round btn-light w-200" href="#">Sign up</a>
      				</div>
      			</div>


      			<div class="col-lg-4">
      				<div class="pricing-2">
      					<h2 class="price"><span class="price-unit">$</span> 199</h2>
      					<h6 class="plan-name">Lifetime access</h6>
      					<p class="plan-description">Pay once, have fun forever</p>
      					<br>
      					<a class="btn btn-round btn-outline-light w-200" href="#">Sign up</a>
      				</div>
      			</div>

      		</div>

      	</div>
      </section>



      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Block 3
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

      <h6 id="block-3" class="block-number"><a href="#block-3">Block 3</a></h6>

      <section class="section {{skin}}  skin-gray">
      	<div class="container">
      		<section class="box">
      			<small>Pricing</small>
      			<h2>Choose License Type</h2>
      			<hr>
      			<p class="lead">Won't said night above you're she'd behold moveth said one fowl. Beast forth. Man creepeth. She'd above bring blessed.</p>
      		</section>


      		<div class="row gap-y">

      			<div class="col-lg-4">
      				<div class="pricing-3">
      					<h6 class="plan-name">Personal</h6>
      					<h2 class="price">$9</h2>
      					<ul>
      						<li>Single Website</li>
      						<li>Manual Import</li>
      						<li>No Support</li>
      					</ul>
      					<br>
      					<a class="btn btn-outline-primary btn-round w-200" href="#">Get started</a>
      				</div>
      			</div>


      			<div class="col-lg-4">
      				<div class="pricing-3">
      					<h6 class="plan-name text-primary">Team</h6>
      					<h2 class="price">$59</h2>
      					<ul>
      						<li>7 Websites</li>
      						<li>Auto Import</li>
      						<li>10 Hour Support</li>
      					</ul>
      					<br>
      					<a class="btn btn-primary btn-round w-200" href="#">Get started</a>
      				</div>
      			</div>


      			<div class="col-lg-4">
      				<div class="pricing-3">
      					<h6 class="plan-name">Business</h6>
      					<h2 class="price">$149</h2>
      					<ul>
      						<li>Unlimited Websites</li>
      						<li>Auto Import</li>
      						<li>24/7 Support</li>
      					</ul>
      					<br>
      					<a class="btn btn-outline-primary btn-round w-200" href="#">Get started</a>
      				</div>
      			</div>

      		</div>

      	</div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Block 4
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

      <h6 id="block-4" class="block-number"><a href="#block-4">Block 4</a></h6>

      <section class="section {{skin}} ">
      	<div class="container">
      		<section class="box">
      			<small>Pricing</small>
      			<h2>Choose License Type</h2>
      			<hr>
      			<p class="lead">Won't said night above you're she'd behold moveth said one fowl. Beast forth. Man creepeth. She'd above bring blessed.</p>
      		</section>


      		<div class="row gap-y">

      			<div class="col-lg-4">
      				<div class="pricing-3">
      					<h6 class="plan-name">Personal</h6>
      					<h2 class="price">$9</h2>
      					<ul>
      						<li>Single Website</li>
      						<li>Manual Import</li>
      						<li>No Support</li>
      					</ul>
      					<br>
      					<a class="btn btn-round btn-outline-primary w-200" href="#">Get started</a>
      				</div>
      			</div>


      			<div class="col-lg-4">
      				<div class="pricing-3 popular">
      					<span class="popular-tag">Best choice</span>
      					<h6 class="plan-name">Team</h6>
      					<h2 class="price">$59</h2>
      					<ul>
      						<li>7 Websites</li>
      						<li>Auto Import</li>
      						<li>10 Hour Support</li>
      					</ul>
      					<br>
      					<a class="btn btn-round btn-primary w-200" href="#">Get started</a>
      				</div>
      			</div>


      			<div class="col-lg-4">
      				<div class="pricing-3">
      					<h6 class="plan-name">Business</h6>
      					<h2 class="price">$149</h2>
      					<ul>
      						<li>Unlimited Websites</li>
      						<li>Auto Import</li>
      						<li>24/7 Support</li>
      					</ul>
      					<br>
      					<a class="btn btn-round btn-outline-primary w-200" href="#">Get started</a>
      				</div>
      			</div>

      		</div>

      	</div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Block 5
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

      <h6 id="block-5" class="block-number"><a href="#block-5">Block 5</a></h6>

      <section class="section {{skin}}  skin-gray">
      	<div class="container">
      		<div class="row align-items-center">

      			<div class="col-md-6">
      				<p class="text-uppercase text-lighter fw-400 ls-2">Pricing plans</p>
      				<h2 class="fw-200 mb-6">Choose your pricing plan,<br>No hidden fees!</h2>
      				<p>We have a single plan which you can choose to pay monthly or yearly. You can always cancel your subscription anytime from your account.</p>

      				<div class="btn-group btn-group-toggle mt-7" data-toggle="buttons">
      					<label class="btn btn-round btn-outline-dark w-150 active">
      						<input type="radio" name="pricing-5" value="monthly" autocomplete="off" checked> Monthly
      					</label>
      					<label class="btn btn-round btn-outline-dark w-150">
      						<input type="radio" name="pricing-5" value="yearly" autocomplete="off"> Yearly
      					</label>
      				</div>
      			</div>


      			<div class="col-md-4 mx-auto mt-7 mt-md-0">
      				<div class="card card-body text-center shadow-2 hover-shadow-8 py-6">
      					<p class="lead text-dark text-uppercase fw-600 ls-1 mb-0">Starter</p>
      					<p class="text-lighter"><span data-bind-radio="pricing-5" data-monthly="Monthly" data-yearly="Yearly">Monthly</span> Package</p>
      					<p class="lead-7 fw-600 text-dark"><span data-bind-radio="pricing-5" data-monthly="$6." data-yearly="$64.">$6.</span><span class="lead-4 align-text-top">99</span></p>
      					<p>
      						Single Website<br>
      						60GB Bandwidth<br>
      						Manual Import<br>
      						No Support<br>
      					</p>
      					<br>
      					<div>
      						<a class="btn btn-round btn-outline-secondary w-200" href="#" data-bind-href="pricing-5" data-monthly="#monthly" data-yearly="#yearly">Sign up</a>
      					</div>
      				</div>
      			</div>

      		</div>
      	</div>
      </section>



      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Block 6
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

      <h6 id="block-6" class="block-number"><a href="#block-6">Block 6</a></h6>

      <section class="section {{skin}}  skin-gray">
      	<div class="container">
      		<div class="row gap-y align-items-center">

      			<div class="col-md-4">
      				<p class="lead-7 text-dark fw-600 lh-2">The most fare pricing plans ever.</p>

      				<div class="btn-group btn-group-toggle my-7" data-toggle="buttons">
      					<label class="btn btn-round btn-outline-dark w-150 active">
      						<input type="radio" name="pricing-6" value="monthly" autocomplete="off" checked> Monthly
      					</label>
      					<label class="btn btn-round btn-outline-dark w-150">
      						<input type="radio" name="pricing-6" value="yearly" autocomplete="off"> Yearly
      					</label>
      				</div>

      				<p class="lead">Our prices are very easy to understand. There's not any extra or hidden fee. You just pay what is listed here.</p>
      				<p class="fw-400"><a href="#">View full pricing details <i class="ti-arrow-right fs-10 ml-2"></i></a></p>
      			</div>


      			<div class="col-md-7 ml-auto">
      				<div class="row gap-y">

      					<div class="col-md-6">
      						<div class="card text-center shadow-1 hover-shadow-9">
      							<div class="card-img-top skin-img h-200 d-flex align-items-center" style="background-image: url(http:/thetheme.io/thesaas/assets/img/thumb/3.jpg)" data-overlay="1">
      								<div class="position-relative w-100">
      									<p class="lead-4 text-uppercase fw-600 ls-1 mb-0">Starter</p>
      									<p><span data-bind-radio="pricing-6" data-monthly="Monthly" data-yearly="Yearly">Monthly</span> Package</p>
      								</div>
      							</div>
      							<div class="card-body py-6">
      								<p class="lead-7 fw-600 text-dark">
      									<span data-bind-radio="pricing-6" data-monthly="$6." data-yearly="$60.">$6.</span><span class="lead-4 align-text-top">99</span>
      								</p>
      								<p>
      									Single Website<br>
      									60GB Bandwidth<br>
      									Manual Import<br>
      									No Support<br>
      								</p>
      								<br>
      								<div>
      									<a class="btn btn-round btn-outline-secondary w-200" href="#" data-bind-href="pricing-6" data-monthly="#monthly" data-yearly="#yearly">Sign up</a>
      								</div>
      							</div>
      						</div>
      					</div>

      					<div class="col-md-6">
      						<div class="card text-center shadow-1 hover-shadow-9">
      							<div class="card-img-top skin-img h-200 d-flex align-items-center" style="background-image: url(http:/thetheme.io/thesaas/assets/img/thumb/11.jpg)" data-overlay="2">
      								<div class="position-relative w-100">
      									<p class="lead-4 text-uppercase fw-600 ls-1 mb-0">Business</p>
      									<p><span data-bind-radio="pricing-6" data-monthly="Monthly" data-yearly="Yearly">Monthly</span> Package</p>
      								</div>
      							</div>
      							<div class="card-body py-6">
      								<p class="lead-7 fw-600 text-dark">
      									<span data-bind-radio="pricing-6" data-monthly="$18." data-yearly="$180.">$18.</span><span class="lead-4 align-text-top">99</span>
      								</p>
      								<p>
      									7 Website<br>
      									Unlimited Bandwidth<br>
      									Auto Import<br>
      									Email Support<br>
      								</p>
      								<br>
      								<div>
      									<a class="btn btn-round btn-secondary w-200" href="#" data-bind-href="pricing-6" data-monthly="#monthly" data-yearly="#yearly">Sign up</a>
      								</div>
      							</div>
      						</div>
      					</div>

      				</div>
      			</div>

      		</div>
      	</div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Block 7
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

      <h6 id="block-7" class="block-number"><a href="#block-7">Block 7</a></h6>

      <section class="section {{skin}} ">
      	<div class="container">
      		<h2 class="text-center">Our Plans</h2>
      		<br><br>

      		<a class="row no-gutters pricing-4" href="#">
      			<div class="col-md-9 plan-description">
      				<h5>Free</h5>
      				<p class="mb-0">First image behold. Behold abundantly fly god together place us fly one subdue fly a, moved Appear morning.</p>
      			</div>

      			<div class="col-md-3 plan-price">
      				<h3>$0</h3>
      				<p>for 100 MB space</p>
      			</div>
      		</a>

      		<br>

      		<a class="row no-gutters pricing-4 popular" href="#">
      			<div class="col-md-9 plan-description">
      				<h5>Personal</h5>
      				<p class="mb-0">First image behold. Behold abundantly fly god together place us fly one subdue fly a, moved Appear morning.</p>
      			</div>

      			<div class="col-md-3 plan-price">
      				<h3>$9 <small>/ mo</small></h3>
      				<p>for 100 GB space</p>
      			</div>
      		</a>

      		<br>

      		<a class="row no-gutters pricing-4" href="#">
      			<div class="col-md-9 plan-description">
      				<h5>Team</h5>
      				<p class="mb-0">First image behold. Behold abundantly fly god together place us fly one subdue fly a, moved Appear morning.</p>
      			</div>

      			<div class="col-md-3 plan-price">
      				<h3>$29 <small>/ mo</small></h3>
      				<p>for 10 TB space</p>
      			</div>
      		</a>

      		<br>

      		<a class="row no-gutters pricing-4" href="#">
      			<div class="col-md-9 plan-description">
      				<h5>Business</h5>
      				<p class="mb-0">First image behold. Behold abundantly fly god together place us fly one subdue fly a, moved Appear morning.</p>
      			</div>

      			<div class="col-md-3 plan-price">
      				<h3>$49 <small>/ mo</small></h3>
      				<p>for unlimited space</p>
      			</div>
      		</a>

      	</div>
      </section>
  </main>
{% endblock %}